/* BASIC PAGE CSS */
* {
    margin: auto;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'open sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  header{
    width: 100%;
    height: auto;
  }
  
  main{
    width: 100%;
    height: auto;
  }


/* HOME PAGE */
#main-landing{
    background-color: rgb(93, 154, 194);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 2%;
    box-shadow: 0 4px 2px -2px rgb(196, 196, 196);
    color: #fff;
}

#center-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2%;
}

#main-options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}

.option{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 1 200px;
    padding: 10% 5%;
    margin: 2%;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    color: black;
}

.option:hover{
    background-color: rgb(255, 234, 113);
    color: black;
}


/*footer*/
footer{
    width: 100%;
    height: auto;
    /* position: fixed; */
    bottom: 0;
}
  
.footerContainer{
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.footerContent{
    width: 100%;
    height: auto;
    text-align: center;
}

.footerText{
    /* color: #ccc; */
    color: black;
    font-size: 0.9em;
}

#footerSocial img{
    display: inline-block;
    padding: .5em .1em;
}

/* .footerContent a{
    color: #ccc;
    text-decoration: none;
}

.footerContent a:hover{
    color: #6033B9;
    text-decoration: none;
} */


/* Navigation */
a {
    text-decoration: none;
}

#logo{
    margin-left: 1%;
    color: #fff;
}

nav {
    top: 0; 
    position: sticky;
    display: flex;
    background-color: rgb(54, 76, 116);
    box-shadow: 0 3px 2px -2px rgb(27, 48, 77);
    left: 0;
    right: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(54, 76, 116);
    text-align: right;
}

li {
    display: inline-block;

}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: rgb(54, 76, 116);
}

#scene{

    padding-top: 3%;
    text-align: center;

}

#scene img{

    margin-top: 2%;
    border: 10px white;
    border-style: solid;
}

#scene p{

    width: 50%;

}

.button {

    border-style: none;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    width: 42%;
    border-radius: 15px;
    
}

.button:hover{

    background-color: #3f7ea6;
    color: white;
  }


/* Scenario CSS */
#right-answer p, #wrong-answer p{
    width: 50%;
}

#right-answer, #wrong-answer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 50px;
}

#right-answer .button, #wrong-answer .button{
    flex: 1;
}