@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* BASIC PAGE CSS */
* {
    margin: auto;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'open sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  header{
    width: 100%;
    height: auto;
  }
  
  main{
    width: 100%;
    height: auto;
  }


/* HOME PAGE */
#main-landing{
    background-color: rgb(93, 154, 194);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 2%;
    box-shadow: 0 4px 2px -2px rgb(196, 196, 196);
    color: #fff;
}

#center-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2%;
}
#center-title h1{

    color: #256792;
    padding: 3%;
}

#main-options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}

.option{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 1 200px;
    padding: 10% 5%;
    margin: 2%;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    color: #0e405f;
    font-family: 'Jua', sans-serif;
}

.option:hover{
    background-color: rgb(255, 234, 113);
    color: #0e405f;
}

.logo-notnav{
    font-family: 'Righteous', cursive;
    font-size: 5em;
    margin-bottom: 2%;
}

/*footer*/
footer{
    width: 100%;
    height: auto;
    /* position: fixed; */
    bottom: 0;
}
  
.footerContainer{
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.footerContent{
    width: 100%;
    height: auto;
    text-align: center;
}

.footerText{
    /* color: #ccc; */
    color: black;
    font-size: 0.9em;
}

#footerSocial img{
    display: inline-block;
    padding: .5em .1em;
}

/* .footerContent a{
    color: #ccc;
    text-decoration: none;
}

.footerContent a:hover{
    color: #6033B9;
    text-decoration: none;
} */


/* Navigation */
a {
    text-decoration: none;
}

#logo{
    font-family: 'Righteous', cursive;
    font-size: larger;
    margin-left: 0;
    color: #fff;
}

#logo a{
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    left: 0;
}
#logo a:hover{
    color: #fff;
    cursor: pointer;
}

nav {
    top: 0; 
    position: sticky;
    display: flex;
    background-color: #11527b;
    box-shadow: 0 3px 2px -2px rgb(27, 48, 77);
    left: 0;
    right: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #11527b;
    text-align: right;
}

nav ul li {
    display: inline-block;

}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color:#256792;
    cursor: pointer;
}

ul ul { /* lists within lists... */
    position: absolute; /* place them over the top of everything */
    display: none; /* hide 'em */
    box-shadow: 0 3px 2px -2px rgb(27, 48, 77);
}

li:hover ul {
    display: flex;
    flex-direction: column;
}

ul ul li #cyber-subitem{
    padding: 14px 24px;
}

/* Scenario CSS */
#scene, #right-answer, #wrong-answer{

    padding-top: 3%;
    text-align: center;

}

#scene img, #right-answer img, #wrong-answer img{

    margin-top: 2%;
    border: 10px white;
    border-style: solid;
}

#scene p, #right-answer p, #wrong-answer p{

    width: 50%;

}

.button {

    border-style: none;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    width: 42%;
    border-radius: 15px;
    
}

.button:hover{

    background-color: #BBDBF0;
    /* color: white; */
  }

.hidden{
    display: none;
}

#info-list ul{

    
    margin-left: 4%;
    text-align: left;
    list-style: square;

}

#info-list li{

    margin-top: 2%;
}

#info-list h2{

    color: #256792 ;
}

#about-us{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 80%;
}

#about-us div{
    margin-top: 2%;
    margin-bottom: 2%;
}

#about-us h3{
    width: 50%;
}

.para-center{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2% 0;
    width: 80%;

}

.para-center h1{

    color: #256792;
    padding-bottom: 2%;

}

.para-center h2{

    color: #256792;
    padding-bottom: 0.5%;

}



.para-center a{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 2%;

}


.about-member{
    display: flex;
    flex-direction: column;
    flex: 0 1 350px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    background-color: #3a6e9150;
    margin: 0 2%;
    padding: 2%;
}

.about-member img{
    margin: 5% 0;
    /* border-style: solid; */
    /* border-color: #fff; */
    /* border-width: 10px 10px 40px 10px; */
}

.about-member p{
    width: 80%;
    color:#fff;
}

.about-member h2{
    color: #fff;
}
