/* BASIC PAGE CSS */
* {
    margin: auto;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'open sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  header{
    width: 100%;
    height: auto;
  }
  
  main{
    width: 100%;
    height: auto;
  }


/* HOME PAGE */

#main-options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: auto;
}

.option{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 1 250px;
    padding: 10% 5%;
    margin: 2%;
    text-decoration: none;
    border-radius: 10px;
    background-color: aqua;
    color: black;
}

.option:hover{
    background-color: blue;
    color: white;
}